/* style odin-recipes */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

a:-webkit-any-link {
    color: white;
    cursor: grab;
    text-decoration: none;
}

.header {
    color: maroon;
    margin-bottom: 8px;
    padding: 58px;
    text-align: center;
    font-size: 36px;

}

body {
    font-family: Arial, sans-serif, Serif, Tahoma;
    background-color: aliceblue;
   
}
/* The above adds a background colour, specifies font and aligns text to the center */

.wrapper {
    margin: 32px auto;
    width: 800px;
    font-size: 28px;
   
}

/* The above is to wrap my opening remarks in a solid box */

.center {
    font-size: 32px;
    text-align: center;
    padding: 12px;
    border: 2px;
    background-color: antiquewhite;
    margin-bottom: 32px;
  
}

/* The above is unique to the home page Welcome message */

img {
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
    
}

/* The above declarations are set for all images on the website */

.main {
    margin: 32px auto;
    line-height: 1.5;
    text-align:justify;
    width: 800px;
}

/* The above is for all text on the individual recipe pages */


.jollof {
    border: 2px solid black;
    padding: 8px;
    margin: 0 auto;
    background-color: maroon;
    text-align: center;
    width: 800px;
    font-size: 24px;
    color:white;
    list-style: none;
    margin-bottom: 16px;
}

.nkwan {
    border: 2px solid black;
    padding: 8px;
    margin: 0 auto;
    background-color: maroon;
    text-align: center;
    width: 800px;
    font-size: 24px;
    color:white;
    list-style: none;
    margin-bottom: 16px;
}

.kelewele {
    border: 2px solid black;
    padding: 8px;
    margin: 0 auto;
    background-color: maroon;
    text-align: center;
    width: 800px;
    font-size: 24px;
    color:white;
    list-style: none;
    margin-bottom: 16px;
}

.home {
    border: 2px solid black;
    padding: 4px;
    margin: 0 auto;
    background-color: maroon;
    text-align: center;
    width: 800px;
    font-size: 14px;
    color:white;
    list-style: none;
    margin-bottom: 16px;
    margin-top: 16px;
}
